

.header {
	width: 60%;
	height: 65px;
	margin: 0 auto;
	text-align: cneter;
	padding-top: 35px;

	
}


.header h2 {
	text-align: center;
	background-color: grey;
	color:white;
	height: 48px;

}


.container {
	padding-top: 65px;
}


tr {
	height:50px;                // <-- the rows height 
}



.buttongroup {
	width: 100%;

}

.buttongroup #home {
	float: right;
}





.btn {
	
	padding-top: 0px;
	padding-buttom: 0px;
	margin-top:1px;
	margin-bottom:-5px;
}


.footer {
	border-top: 1px solid #000000;
}

.footer p {
	font-size: 90%;
	text-align:center;
}

