<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/mystyle.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/metro-bootstrap.min.css}"  />
	
	<title>IT Hardware Inventory App</title>
	
</head>

<body>

<div class="container">

	<div class="page-header">
		<h2>IT Hardware Inventory App</h2>
	</div>

	<h4>List of Assets</h4>

	<table class="table table-hover">
	<thead class = "thead-light">
		<tr>
			<th>Asset ID</th>
			<th>Make</th>
			<th>Model</th>
			<th>Asset Type</th>
			<th colspan="2">Action</th>
		</tr>
	 </thead>

		<tr th:each="tempAsset : ${assetsByOffsetList}" >
			<td th:text="${tempAsset.assetId}" />
			<td th:text="${tempAsset.make}" />
			<td th:text="${tempAsset.model}" />
			<td th:text="${tempAsset.assetType}" />

			<td>
				<a th:href="@{/updateasset/{id}(id=${tempAsset.assetId})}"   ><button class="btn btn-primary">Update</button></a>
				<a th:href="@{/deleteasset/{id}(id=${tempAsset.assetId})}"><button type="button" class="btn btn-primary btn-danger">Delete</button></a>
			</td>
		</tr>
	</table>

	<span th:each="pageNumber : ${pageNumbersList}"> 
		<button class="btn  ">
			<a href = "${pageNumber}" th:href= "${pageNumber}" th:text="${pageNumber}"></a>
		</button>
	</span>

	<br />

	<span th:if="${prevNextList.size()} == 2">
		<button type="button" class="btn btn-default"><a href="${prevNextList[0]}" th:href="${prevNextList[0]}" th:text="Prev" ></a></button>
		<button type="button" class="btn btn-default"><a href="${prevNextList[1]}" th:href="${prevNextList[1]}" th:text="Next" ></a></button>
	</span>

	<span th:if="${prevNextList.size()} == 1 and ${label} == Next" >
		<button type="button" class="btn btn-default"><a href="${prevNextList[0]}" th:href="${prevNextList[0]}" th:text="Next" ></a></button>
	</span>


	<span th:if="${prevNextList.size()} == 1 and ${label} == Prev" >
		<button type="button" class="btn btn-default"><a href="${prevNextList[0]}" th:href="${prevNextList[0]}" th:text="Prev" ></a></button>
	</span>

	<hr>

	<div class="col-sm-6 col-md-3">
		<div class="thumbnail tile">
		<a href="/invapp" class="fa-links">
		    <h1></h1>
		   <i class="fa fa-3x fa-home"></i>
		</a>
	    </div>
</div>


</div>

</body>
</html>
