<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"  />
	<link rel="stylesheet" type="text/css" th:href="@{/css/mystyle.css}"  />
	<link rel="stylesheet" type="text/css" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/metro-bootstrap.min.css}"  />
	
	<title>IT Hardware Inventory App</title>
</head>

<body>


<div class="container">


<div class="page-header">
	<h1>IT Hardware Inventory App</h1>
</div>

<br></br>
<br />

<div class="col-sm-6 col-md-3">
	<div class="thumbnail tile tile-medium tile-teal">
		<a href="getassets/1" class="fa-links">
			<h1>List Assets</h1>
			<i class="fa fa-2x fa-list"></i>
			</a>
	</div>
</div>

<div class="col-sm-6 col-md-3">
	<div class="thumbnail tile tile-medium tile-teal">
		<a href="addasset" class="fa-links">
		<h1>Add Asset</h1>
		<i class="fa fa-2x fa-plus"></i>
			
		</a>
	</div>
</div>



<div class="col-sm-6 col-md-3">
	<div class="thumbnail tile tile-medium tile-teal">
		<a href="getasset" class="fa-links">
			<h1>Search Assets</h1>
           <i class="fa fa-2x fa-search"></i>
		</a>
	</div>
</div>




</div>

</body>
</html>